{% extends 'postBoard/base.html' %}
{% block body_title %} someone's list of tasks {% endblock %}


{% block content %} 
<div class="containter">
        <h2 style="text-align:center">Here are all the tasks posted:</h2>
        <div style="text-align:center">
            {% for task in allTasks %}
                <p><strong>{{ task.title }} </strong>: {{ task.description }} </p>
                <p>Posted by: {{ task.creator }}</p>
                <br>
            {% endfor %}
        </div>
</div>

{% endblock %}

