{% extends 'postBoard/base.html' %}
{% block body_title %} Welcome {{ user }}! (All Tasks page){% endblock %}
{% block content %}

<div style="margin-top:25px; margin-bottom:25px">

    <button id="accTrue" onclick="insertParam('showAccepted', true)" class="btn btn-primary">
        Show accepted tasks
    </button>
    <button id="accFalse" onclick="insertParam('showAccepted', false)" class="btn btn-primary">
        Hide accepted tasks
    </button>
    <button id="comTrue" onclick="insertParam('showCompleted', true)" class="btn btn-primary">
        Show completed tasks
    </button>
    <button id="comFalse" onclick="insertParam('showCompleted', false)" class="btn btn-primary">
        Hide completed tasks
    </button>

    <div>
        Filter by category:
        <select id="category" class="selectpicker" data-style="btn-primary">
            <option>Academic Tutoring</option>
            <option>House Moving/Cleaning</option>
            <option>Share Rides</option>
            <option>Other</option>
        </select>
        <br>
        <div style="margin-top:5px">
            <button onclick="filterFn()" class="btn btn-primary">
                Filter
            </button>
            <button onclick="window.location.href='/alltasks'" class="btn btn-primary">
                Unfilter
            </button>
        </div>
    </div>
</div>
<div class="container1" id="task_table">
    <table class="table table-striped" border="3" cellpadding="10" width="100%">
        <tr>
            <td>Task Name</td>
            <td>Task Category</td>
            <td>Task Summary</td>
            <td>Posted By</td>
            <td>Date Posted</td>
        </tr>

    {% for task in allTasks %}
        <tr>
            <td><p>{{ task.title }}</p></td>
            <td><p>{{ task.category }}</p></td>
            <td><p>{{ task.summary }}</p></td>
            <td><p><a href="/profile?q={{ task.creator.username }}">{{ task.creator.username }}</a></p></td>
            <td><p>{{ task.timePosted.date.isoformat }}</p></td>
        </tr>
        <tr>
            <td colspan="5">
                <p>{{ task.description }}</p>
                <p>
                    {% if task.state == 1 and task.creator.username != user %}
                        <button onclick="acceptTask({{ task.taskID }})" class="btn btn-primary">
                            Accept Task
                        </button>
                    {% elif task.state == 2 %}
                        This task was accepted by <a href="/profile?q={{ task.acceptor.username }}">{{ task.acceptor.username }}</a>
                    {% elif task.state == 3 %}
                        This task was completed by <a href="/profile?q={{ task.acceptor.username }}">{{ task.acceptor.username }}</a>
                    {% endif %}
                </p>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>

<script>
    TASK_TITLE = 1
    TASK_DESCRIPTION = 2
    TASK_STATE = 3
    TASK_SUMMARY = 4
    TASK_CATEGORY = 5
    TASK_VALUE = 6

    STATE_CREATED = 1
    STATE_ACCEPTED = 2
    STATE_COMPLETED = 3

    function filterFn(){
        var category = $('#category :selected').text();
        insertParam("c", category);
    }

    $("#logoutLink").click(function(){
        $.ajax({
            url: "/logout",
            type: 'GET',
            success: function(response) {
                window.location.href = "/";
            }
        })
    });

    function acceptTask(taskID){
        $.ajax({
            url: "/task?q=" + taskID,
            type: 'POST',
            contentType: "application/json",
            data: '{"field": "' + TASK_STATE + '", "newdata": "' + STATE_ACCEPTED + '"}' ,
            success: function(response) {
                var errorCode = response.errcode;
                window.location.href = "/alltasks";
            },
            error: function(response) {
                console.log(response);
                alert("FAILED. Code: " + response.status + " Response: " + response.responseText);
            }
        });
    }

    //stackoverflow
    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

    //stackoverflow
    function insertParam(key, value) {
        key = escape(key);
        value = escape(value);
        var kvp = document.location.search.substr(1).split('&');
        if (kvp == '') {
            document.location.search = '?' + key + '=' + value;
        }
        else {
            var i = kvp.length; var x; while (i--) {
                x = kvp[i].split('=');
                if (x[0] == key) {
                    x[1] = value;
                    kvp[i] = x.join('=');
                    break;
                }
            }
            if (i < 0) {
               kvp[kvp.length] = [key, value].join('=');
            }
            document.location.search = kvp.join('&');
        }
    }

    $(function() {
        if (typeof getUrlParameter("c") != "undefined") {
            $("#category").val(decodeURI(getUrlParameter("c")));
        }

        if (typeof getUrlParameter("showCompleted") != "undefined") {
            if (decodeURI(getUrlParameter("showCompleted")) == "true") {
                $("#comTrue").remove()
            } else {
                $("#comFalse").remove()
            }
        } else {
            $("#comFalse").remove()
        }

        if (typeof getUrlParameter("showAccepted") != "undefined") {
            if (decodeURI(getUrlParameter("showAccepted")) == "true") {
                $("#accTrue").remove()
            } else {
                $("#accFalse").remove()
            }
        } else {
            $("#accFalse").remove()
        }

          // Initially hide toggleable content
        $("td[colspan=4]").find("p").hide();

          // Click handler on entire table
        $("table").click(function(event) {

              // No bubbling up
            event.stopPropagation();

            var $target = $(event.target);

              // Open and close the appropriate thing
            if ( $target.closest("td").attr("colspan") > 1 ) {
                $target.slideUp();
            } else {
                $target.closest("tr").next().find("p").slideToggle();
            }                    
        });
    });
</script>
{% endblock %}
