<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "css/bootstrap-extensions.css" %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">
    <link href="{% static "css/cal.css" %}" rel="stylesheet">
    <link href="{% static "css/postBoard.css" %}" rel="stylesheet">
    <link href="{% static "css/star.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.2.0/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet">

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <!-- Bootstrap JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- DataTables -->
    <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>

    <title sytle="margin-top:20px">{% block header_title %}List of tasks{% endblock %}</title>

</head>
<body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Welcome {{ user }}!</a>
            </li>
            <li>
                <a href="/mytasks">My Task Dashboard</a>
            </li>
            <li>
                <a href="/alltasks">Explore Tasks</a>
            </li>
            <li>
                <a href="/newtask">Post New Task</a>
            </li>
            <li>
                <a href="/profile">My Profile</a>
            </li>
            <li>
                <a href="/mymessages">My Messages</a>
            </li>
            <li>
                <a href="/logout" id="logoutLink">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <h1 style="margin-bottom:50px"> {% block body_title %}User Name's CampusHelper{% endblock %}</h1>
                
                {% block content %} {% endblock %}
            </div>
        
        </div>
    </div>
</body>
</html>

<!-- Side Navigation Bar js -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
