<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "css/bootstrap-extensions.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">
    <link href="{% static "css/cal.css" %}" rel="stylesheet">
    <link href="{% static "css/postBoard.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.2.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery Version 1.11.1 -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title sytle="margin-top:20px">{% block header_title %}List of tasks{% endblock %}</title>

</head>
<body>
    {% include "navBar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <h1 style="margin-bottom:50px"> {% block body_title %}User Name's CampusHelper{% endblock %}</h1>
                
                {% block content %}
                {% endblock %}
            </div>
        
        </div>
    </div>
</body>
</html>

<!-- Side Navigation Bar js -->
<script>
// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
</script>
