{% extends 'postBoard/base.html' %}
{% block body_title %} {{ user }}'s Tasks {% endblock %}
{% block content %}
<div style="margin-bottom:25px" class="container1">
    <div id="task_table_created" style="margin-top:25px">
        <h2>My Posted Task</h2>
        <table class="table table-striped" border="3" cellpadding="10" width="100%">
            <tr>
                <td>Task Name</td>
                <td>Task Category</td>
                <td>Task Summary</td>
                <td>Date Posted</td>
            </tr>

        {% for task in myCreatedTasks %}
            <tr>
                <td><p><a href="/task?q={{ task.taskID }}">{{ task.title }}</a></p></td>
                <td><p>{{ task.category }}</p></td>
                <td><p>{{ task.summary }}</p></td>
                <td><p>{{ task.timePosted.date.isoformat }}</p></td>
            </tr>
            <tr>
                <td colspan="4">
                    <p>{{ task.description }}</p>
                    <p>
                        {% if task.state == 1 %}
                            This task is not accepted yet!
                        {% elif task.state == 2 %}
                            This task was accepted by <a href="/profile?q={{ task.acceptor.username }}">{{ task.acceptor.username }}</a>
                        {% elif task.state == 3 %}
                            This task was completed by <a href="/profile?q={{ task.acceptor.username }}">{{ task.acceptor.username }}</a>
                        {% endif %}
                    </p>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div id="task_table_accepted" style="margin-top:25px">
        <h2>My Accepted Tasks</h2>
        <table class="table table-striped" border="3" cellpadding="10" width="100%">
            <tr>
                <td>Task Name</td>
                <td>Task Category</td>
                <td>Task Summary</td>
                <td>Posted By</td>
            </tr>

            {% for task in myAcceptedTasks %}
                <tr>
                    <td><p>{{ task.title }}</p></td>
                    <td><p>{{ task.category }}</p></td>
                    <td><p>{{ task.summary }}</p></td>
                    <td><p>{{ task.creator.username }}</p></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>{{ task.description }}</p>
                        <p>
                            {% if task.state == 2 %}
                                This task was accepted by {{ task.acceptor.username }}
                            {% elif task.state == 3 %}
                                This task was completed by {{ task.acceptor.username }}
                            {% endif %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    TASK_TITLE = 1
    TASK_DESCRIPTION = 2
    TASK_STATE = 3
    TASK_SUMMARY = 4
    TASK_CATEGORY = 5
    TASK_VALUE = 6

    STATE_CREATED = 1
    STATE_ACCEPTED = 2
    STATE_COMPLETED = 3

    $("#logoutLink").click(function(){
        $.ajax({
            url: "/logout",
            type: 'GET',
            success: function(response) {
                window.location.href = "/";
            }
        })
    });

    $(function() {

        // Initially hide toggleable content
        $("td[colspan=3]").find("p").hide();

        // Click handler on entire table
        $("table").click(function(event) {

            // No bubbling up
            event.stopPropagation();

            var $target = $(event.target);

            // Open and close the appropriate thing
            if ( $target.closest("td").attr("colspan") > 1 ) {
                $target.slideUp();
            } else {
                $target.closest("tr").next().find("p").slideToggle();
            }                    
        });
    });
</script>
{% endblock %}
