{% extends 'postBoard/base.html' %}
{% block body_title %} {{ user }}'s Tasks {% endblock %}
{% block content %}
<div style="margin-bottom:25px" class="container1">
    <div id="task_table_created" style="margin-top:25px">
        <h2>My Posted Tasks</h2>

        <table id="example" class="cell-border hover"  border="3" cellpadding="10" width="100%">
            <thead>
                <tr>
                    <td>Task Name</td>
                    <td>Task Category</td>
                    <td>Task Summary</td>
                    <td>Date Posted</td>
                    <td>Task Status</td>
                </tr>
            </thead>

            <tbody>
                {% for task in myCreatedTasks %}
                    <tr>
                        <td><p><a href="/task?q={{ task.taskID }}">{{ task.title }}</a></p></td>
                        <td><p>{{ task.category }}</p></td>
                        <td><p>{{ task.summary }}</p></td>
                        <td><p>{{ task.timePosted.date.isoformat }}</p></td>
                        <td><p>
                            {% if task.state == 1 %}
                                This task is not accepted yet!
                            {% elif task.state == 2 %}
                                This task was accepted by <a href="/profile?q={{ task.acceptor.username }}">{{ task.acceptor.username }}</a>
                                <button onclick="completeTask({{ task.taskID }})" class="btn btn-primary">
                                    Mark as Completed
                                </button>
                            {% elif task.state == 3 %}
                                This task was completed by <a href="/profile?q={{ task.acceptor.username }}">{{ task.acceptor.username }}</a>
                                <br>
                                {% if task.value == None %}
                                <span class="star-rating">
                                  <input type="radio" name="rating" value="1"><i></i>
                                  <input type="radio" name="rating" value="2"><i></i>
                                  <input type="radio" name="rating" value="3"><i></i>
                                  <input type="radio" name="rating" value="4"><i></i>
                                  <input type="radio" name="rating" value="5"><i></i>
                                </span>
                                <strong class="choice">Choose a rating</strong>
                                <button onclick="rateTask({{ task.taskID }})" class="btn btn-primary">
                                    Rate!
                                </button>
                                {% else %}
                                You gave them {{ task.value }} stars
                                {% endif %}
                        {% endif %}
                        </p></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="task_table_accepted" style="margin-top:25px">
        <h2>My Accepted Tasks</h2>
        <table class="table table-striped" border="3" cellpadding="10" width="100%">
            <thead>
                <tr>
                    <td>Task Name</td>
                    <td>Task Category</td>
                    <td>Task Summary</td>
                    <td>Posted By</td>
                    <td>Date Posted</td>
                    <td>Task Status</td>
                </tr>
            </thead>

            <tbody>
                {% for task in myAcceptedTasks %}
                    <tr>
                        <td><p><a href="/task?q={{ task.taskID }}">{{ task.title }}</a></p></td>
                        <td><p>{{ task.category }}</p></td>
                        <td><p>{{ task.summary }}</p></td>
                        <td><p><a href="/profile?q={{ task.creator.username }}">{{ task.creator.username }}</a></p></td>
                        <td><p>{{ task.timePosted.date.isoformat }}</p></td>
                        <td><p>
                            {% if task.state == 2 %}
                                Accepted
                                <button onclick="unacceptTask({{ task.taskID }})" class="btn btn-primary">
                                    Unaccept Task
                                </button>
                            {% elif task.state == 3 %}
                                Completed 
                            {% endif %}
                        </p></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
      
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });

    $(':radio').change(
        function(){
            $('.choice').text(this.value + ' stars');
    });

    TASK_TITLE = 1
    TASK_DESCRIPTION = 2
    TASK_STATE = 3
    TASK_SUMMARY = 4
    TASK_CATEGORY = 5
    TASK_VALUE = 6
    TASK_DELETE = 7

    STATE_CREATED = 1
    STATE_ACCEPTED = 2
    STATE_COMPLETED = 3

    function completeTask(taskID){
        $.ajax({
            url: "/task?q=" + taskID,
            type: 'POST',
            contentType: "application/json",
            data: '{"field": "' + TASK_STATE + '", "newdata": "' + STATE_COMPLETED + '"}' ,
            success: function(response) {
                window.location.href = "/mytasks";
            },
            error: function(response) {
                console.log(response);
                alert("FAILED. Code: " + response.status + " Response: " + response.responseText);
            }
        });
    }

    function rateTask(taskID){
        var rating = $('input[name="rating"]:checked').val()
        $.ajax({
            url: "/task?q=" + taskID,
            type: 'POST',
            contentType: "application/json",
            data: '{"field": "' + TASK_VALUE + '", "newdata": "' + rating + '"}' ,
            success: function(response) {
                window.location.href = "/mytasks";
            },
            error: function(response) {
                console.log(response);
                alert("FAILED. Code: " + response.status + " Response: " + response.responseText);
            }
        });
    }

    function unacceptTask(taskID){
        $.ajax({
            url: "/task?q=" + taskID,
            type: 'POST',
            contentType: "application/json",
            data: '{"field": "' + TASK_STATE + '", "newdata": "' + STATE_CREATED + '"}' ,
            success: function(response) {
                window.location.href = "/mytasks";
            },
            error: function(response) {
                console.log(response);
                alert("FAILED. Code: " + response.status + " Response: " + response.responseText);
            }
        });
    }
</script>
{% endblock %}
