{% extends 'postBoard/base.html' %}
{% block body_title %} Welcome {{ user }}! (All Tasks page){% endblock %}
{% block content %}

<div style="margin-top:25px; margin-bottom:25px">
    <!--
    <button id="accTrue" onclick="insertParam('showAccepted', true)" class="btn btn-primary">
        Show accepted tasks
    </button>
    <button id="accFalse" onclick="insertParam('showAccepted', false)" class="btn btn-primary">
        Hide accepted tasks
    </button>
    <button id="comTrue" onclick="insertParam('showCompleted', true)" class="btn btn-primary">
        Show completed tasks
    </button>
    <button id="comFalse" onclick="insertParam('showCompleted', false)" class="btn btn-primary">
        Hide completed tasks
    </button>
    -->
    <div>
        Filter by category:
        <select id="category" class="selectpicker" data-style="btn-primary">
            <option>Academic Tutoring</option>
            <option>House Moving/Cleaning</option>
            <option>Share Rides</option>
            <option>Other</option>
        </select>
        <br>
        <div style="margin-top:5px">
            <button onclick="filterFn()" class="btn btn-primary">
                Filter
            </button>
            <button onclick="window.location.href='/alltasks'" class="btn btn-primary">
                Unfilter
            </button>
        </div>
    </div>
</div>
<div class="container1" id="task_table">
    <table id="example" class="cell-border hover"  border="3" cellpadding="10" width="100%">
        <thead>
            <tr>
                <td>Task Name</td>
                <td>Task Category</td>
                <td>Task Summary</td>
                <td>Posted By</td>
                <td>Date Posted</td>
            </tr>
        </thead>

        <tbody>
            {% for task in allTasks %}
                 <tr>
                    <td><p><a href="/task?q={{ task.taskID }}">{{ task.title }}</a></p></td>
                    <td><p>{{ task.category }}</p></td>
                    <td><p>{{ task.summary }}</p></td>
                    <td><p><a href="/profile?q={{ task.creator.username }}">{{ task.creator.username }}</a></p></td>
                    <td><p>{{ task.timePosted.date.isoformat }}</p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });

    TASK_TITLE = 1
    TASK_DESCRIPTION = 2
    TASK_STATE = 3
    TASK_SUMMARY = 4
    TASK_CATEGORY = 5
    TASK_VALUE = 6
    TASK_DELETE = 7

    STATE_CREATED = 1
    STATE_ACCEPTED = 2
    STATE_COMPLETED = 3

    function filterFn(){
        var category = $('#category :selected').text();
        insertParam("c", category);
    }

    //stackoverflow
    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

    //stackoverflow
    function insertParam(key, value) {
        key = escape(key);
        value = escape(value);
        var kvp = document.location.search.substr(1).split('&');
        if (kvp == '') {
            document.location.search = '?' + key + '=' + value;
        }
        else {
            var i = kvp.length; var x; while (i--) {
                x = kvp[i].split('=');
                if (x[0] == key) {
                    x[1] = value;
                    kvp[i] = x.join('=');
                    break;
                }
            }
            if (i < 0) {
               kvp[kvp.length] = [key, value].join('=');
            }
            document.location.search = kvp.join('&');
        }
    }

    $(function() {
        if (typeof getUrlParameter("c") != "undefined") {
            $("#category").val(decodeURI(getUrlParameter("c")));
        }

        if (typeof getUrlParameter("showCompleted") != "undefined") {
            if (decodeURI(getUrlParameter("showCompleted")) == "true") {
                $("#comTrue").remove()
            } else {
                $("#comFalse").remove()
            }
        } else {
            $("#comFalse").remove()
        }

        if (typeof getUrlParameter("showAccepted") != "undefined") {
            if (decodeURI(getUrlParameter("showAccepted")) == "true") {
                $("#accTrue").remove()
            } else {
                $("#accFalse").remove()
            }
        } else {
            $("#accFalse").remove()
        }
    });
</script>
{% endblock %}
