<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
     <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-extensions.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">
    <link href="{% static "css/cal.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.2.0/css/font-awesome.min.css" %}"  rel="stylesheet" type="text/css">


    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Welcome! {{ user }}</a>
            </li>
            <li>
                <a href="/mytasks">My Task Dashboard</a>
            </li>
            <li>
                <a href="/alltasks">Explore Tasks</a>
            </li>
            <li>
                <a href="/newtask">Post New Task</a>
            </li>
            <li>
                <a href="/profile">My Profile</a>
            </li>
            <li>
                <a id="logoutLink">Logout</a>
            </li>
        </ul>
    </nav>

</html>
