<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-extensions.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">
    <link href="{% static "css/cal.css" %}" rel="stylesheet">
    <link href="{% static "css/postBoard.css" %}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.2.0/css/font-awesome.min.css" %}"  rel="stylesheet" type="text/css">

    <title>Welcome to Callaborate</title>


    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Header -->
    <header id="top">
        <h1 style="text-align:center; margin-top:3cm"><strong>Post a new task</strong></h1>
           <br>
    </header>

     
    <body>
        <form class="post-form" style="text-align:center;">
            <div class="row">
               
                <label for="taskTitle"><h3>Task Title</h3></label>
                <input type="text" class="form-control" id="taskTitle" placeholder="Enter new task title">
            
            </div>

            <div class="row">

                <label for="taskSummary"><h3>Task Summary</h3></label>
                <input type="text" class="form-control" id="taskSummary" placeholder="Put down one line of task summary">
           
            </div>
            <div class="row">
                
                <label for="Task Description"><h3>Task Description</h3></label>
                <textarea class="form-control" rows="5" id="taskDescription" placeholder="Be as detailed as you want :)"></textarea>

            </div> 

            <button style="margin-top:1cm; margin-bottom:5cm"onclick="addTaskFn()" class="btn btn-primary">
                    Looks good to me, post! 
            </button>
        </form>

<!-- this page auto reloads?!?? how to fix? -->

    </body>
    <script src="{% static "js/jquery-1.11.0.js" %}"></script>
    <script>
        function addTaskFn(){
            var title = $('#taskTitle').val();
            var summary = $('#taskSummary').val();
            var description = $('#taskDescription').val();
            $.ajax({
                url: "/newtask",
                type: 'POST',
                contentType: "application/json",
                data: '{ "title" : ' + '"' + title + '"' + ', "summary" : ' + '"' + summary + '"' + ', "description" : ' + '"' + description + '"' + '}' ,
                success: function(response) {
                    var errorCode = response.errcode;
                    var taskID = response.taskID;
                    console.log(response);
                    if(errorCode == 1){
                        alert("Task successfully posted, task ID is: " + taskID);
                    };
                  },
                error: function(response) {
                    var errorCode = response.errcode;
                    console.log(response);
                    alert("FAILED. Error code: " + errorCode);
                }
            });
            return false;
        }
    </script>
</body>

</html>