<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "css/bootstrap-extensions.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">
    <link href="{% static "css/cal.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.2.0/css/font-awesome.min.css" %}"  rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery Version 2.1.1 -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <title>Sign Up for CampusHelper</title>

</head>

<body>

    <!-- Header --> 
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Sign Up for<font class="logo" color="00387a"> Campus</font><font class="logo" color="ffb819">Helper</font></h1>
            <div class="form-wrap" id="loginform">
                <div class="form-group">
                    <input type='text' name='Username' id='userField' placeholder="username">
                </div>
                <div>
                    <input type='password' name="Password" id='passwordField' placeholder="password">
                </div>
                <div class="form-group">
                    <input type='password' name="Enter Password Again" id="passwordVerify" placeholder="Reenter password">
                </div>
                <div class="form-group">
                    <input type='email' name="Email" id="email" placeholder="Enter your email here">
                </div>
                <div>
                    <textarea id = "desc" class="form-group" rows="5" style="" placeholder="A short description of you"></textarea>
                </div>
                <div>
                    <button id = "signupButton" onclick="signUpFn()" class="btn btn-primary">
                        Sign Up
                    </button>
                </div>

            </div>
        </div>
    </header>

    <script>
        VERIFIED = 1
        UNVERIFIED = 2

        KEYUP = function(event){
            if(event.keyCode == 13){
                $("#signupButton").click();
            }
        }
        $("#passwordVerify").keyup(KEYUP);

        function signUpFn() {
            $("#passwordVerify").unbind("keyup", KEYUP);
            $("#signupButton").attr('disabled', true);
            var user = $("#userField").val();
            var pass1 = $("#passwordField").val();
            var pass2 = $("#passwordVerify").val();
            var email = $("#email").val();
            var desc = $("#desc").val();
            if (pass1 != pass2) {
                alert("Your passwords do not match, please try again.");
                $("#signupButton").attr('disabled', false);
                setTimeout(function(){$("#passwordVerify").keyup(KEYUP)}, 222);
            } else {
                $.ajax({
                url: "/newuser",
                type: 'POST',
                contentType: "application/json",
                data: '{ "username" : ' + '"' + user + '"' + ', "password" : ' + '"' + pass1 + '"' + ', "email" : "' + email + '", "description" : "' + desc + '"' + '}',
                success: function(response) {
                    gotoLoginPage(user, pass1);
                },
                error: function(response) {
                    console.log("FAILED. Code: " + response.status + " Response: " + response.responseText);
                    alert("Failed! username already taken, or email is wrong")
                    $("#signupButton").attr('disabled', false);
                    setTimeout(function(){$("#passwordVerify").keyup(KEYUP)}, 222);
                }
                });
            }
        }

        function gotoLoginPage(user, pass) {
            $.ajax({
                url: "/login",
                type: 'POST',
                contentType: "application/json",
                data: '{"username": "' + user + '", "password": "' + pass + '"}' ,
                success: function(response) {
                    if (response.verified == VERIFIED) {
                        window.location.href = "/alltasks";
                    } else {
                        window.location.href = "/verifyemail";
                    }
                },
                error: function(response) {
                    console.log(response);
                    alert("FAILED. Code: " + response.status + " Response: " + response.responseText);
                }
            });
        }
    </script>

</body>

</html>
