{% extends 'postBoard/base.html' %}
{% block header_title %}
    Task {{ task.taskID }}
{% endblock %}
{% block body_title %}
    {% if mine %}
        View or Update Task {{ task.taskID }}
    {% else %}
        View Task {{ task.taskID }}
    {% endif %}
{% endblock %}

{% block content %}

<form class="post-form" style="text-align:left">
    <div class="row">
        <h3>Creator</h3>
        <input type="text" class="form-control" placeholder="{{ task.creator.username }}" readonly>
    </div>

    <div class="row">
        <h3>Date Posted</h3>
        <input type="text" class="form-control" placeholder="{{ task.timePosted.date.isoformat }}" readonly>
    </div>

    <div class="row">
        <label for="taskTitle"><h3>Name</h3></label>
        <input type="text" class="form-control" id="taskTitle" value="{{ task.title }}" {% if not mine %} readonly {% endif %}>
    </div>

    <div class="row">
        <label for="taskDesc"><h3>Description</h3></label>
        <input type="text" class="form-control" id="taskDesc" value="{{ task.description }}" {% if not mine %} readonly {% endif %}>
    </div>

    <div class="row">
        <label for="taskSummary"><h3>Summary</h3></label>
        <input type="text" class="form-control" id="taskSummary" value="{{ task.summary }}" {% if not mine %} readonly {% endif %}>
    </div>

    <div class="row">
        <label for="taskCategory"><h3>Category</h3></label>
        <select id="taskCategory" class="selectpicker" data-style="btn-primary">
              <option>Academic Tutoring</option>
              <option>House Moving/Cleaning</option>
              <option>Share Rides</option>
              <option>Other</option>
        </select>
    </div>

    <div class="row">
        <label for="taskValue"><h3>Value</h3></label>
        <input type="text" class="form-control" id="taskValue" value="{{ task.value }}" {% if not mine %} readonly {% endif %}>
    </div>

    <div class="row">
        <h3>State</h3>
        <input type="text" class="form-control" value="
            {% if task.state == 1 %}
                Just Created
            {% elif task.state == 2 %}
                Accepted by {{ task.acceptor.username }}
            {% elif task.state == 3 %}
                Completed by {{ task.acceptor.username }}
            {% endif %}
        " readonly>
    </div>

    {% if mine %}
        <button type="button" style="margin-top:1cm; margin-bottom:5cm" onclick="updateTask()" class="btn btn-primary">
            Looks good to me, update! 
        </button>
    {% endif %}
</form>

{% if mine %}
<script>
    TASK_TITLE = 1
    TASK_DESCRIPTION = 2
    TASK_STATE = 3
    TASK_SUMMARY = 4
    TASK_CATEGORY = 5
    TASK_VALUE = 6

    $(function() {
        $("#taskCategory").val("{{ task.category }}");
    })

    function updateTask(){
        var taskSummary = $('#taskSummary').val();
        var taskValue = $('#taskValue').val();
        var taskCategory = $('#taskCategory').val();
        var taskDesc = $('#taskDesc').val();
        var taskTitle = $('#taskTitle').val();

        if (taskSummary != "{{ task.summary }}") {
            $.ajax({
                url: "/task?q={{ task.taskID }}",
                type: 'POST',
                contentType: "application/json",
                async: false,
                data: '{ "field" : "' + TASK_SUMMARY + '", "newdata" : "' + taskSummary + '"}' ,
                success: function(response) {
                },
            });
        }

        if (taskValue != "{{ task.value }}") {
            $.ajax({
                url: "/task?q={{ task.taskID }}",
                type: 'POST',
                contentType: "application/json",
                async: false,
                data: '{ "field" : "' + TASK_VALUE + '", "newdata" : "' + taskValue + '"}' ,
                success: function(response) {
                },
            });
        }

        if (taskDesc != "{{ task.description }}") {
            $.ajax({
                url: "/task?q={{ task.taskID }}",
                type: 'POST',
                contentType: "application/json",
                async: false,
                data: '{ "field" : "' + TASK_DESCRIPTION + '", "newdata" : "' + taskDesc + '"}' ,
                success: function(response) {
                },
            });
        }

        if (taskTitle != "{{ task.title }}") {
            $.ajax({
                url: "/task?q={{ task.taskID }}",
                type: 'POST',
                contentType: "application/json",
                async: false,
                data: '{ "field" : "' + TASK_TITLE + '", "newdata" : "' + taskTitle + '"}' ,
                success: function(response) {
                },
            });
        }

        if (taskCategory != "{{ task.category }}") {
            $.ajax({
                url: "/task?q={{ task.taskID }}",
                type: 'POST',
                contentType: "application/json",
                async: false,
                data: '{ "field" : "' + TASK_CATEGORY + '", "newdata" : "' + taskCategory + '"}' ,
                success: function(response) {
                },
            });
        }

        window.location.reload(true);
    }
</script>
{% endif %}
{% endblock %}
