<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "css/bootstrap-extensions.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">
    <link href="{% static "css/cal.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.2.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery Version 2.1.1 -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <title>Verify your Email to CampusHelper</title>

</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Input Verification Code</h1>
            <br>
            <div class="form-wrap" id="loginform">
                <div class="form-group">
                    <input type="text" id="verifCode" placeholder="Check your Email!">
                </div>
            </div>
            <button id = "checkbutton" onclick="checkFn()" class="btn btn-primary">
                Check
            </button>
        </div>
    </header>

    <script>
        $("#verifCode").keyup(function(event){
            if(event.keyCode == 13){
                $("#checkButton").click();
            }
        });

        function checkFn(){
            var verifCode = $('#verifCode').val();
            $.ajax({
                url: "/verifyemail",
                type: 'POST',
                contentType: "application/json",
                data: '{"verifcode": "' + verifCode + '"}' ,
                success: function(response) {
                    window.location.href = "/alltasks";
                },
                error: function(response) {
                    console.log(response);
                    alert("FAILED. Code: " + response.status + " Response: " + response.responseText);
                }
            });
        }
    </script>

</body>

</html>
